* {
    box-sizing: border-box;
}
body {
    overflow: auto;
    background-color: rgb(240, 230, 230);
    background-position: center;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    color: rgb(48, 47, 47);
    align-content: center;
    justify-content: center;
}
.container {
    height: 70vh;
    width: 600px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    margin-top: 150px;
    border-radius: 16px;
    padding: 0;
    text-align: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    background-color: rgb(4, 4, 100);
    box-shadow: 8px 16px 16px rgba(88, 51, 170, 0.15);
}
.container h1{
    font-weight: bold;
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
}
.numbers-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
    padding: 0;
    justify-content: center;
    width: inherit;
}
#first-number-container {
display: flex;
flex-direction: row;
flex: 1;
gap: 24px;
align-self: center;
padding: 0;
margin: 0;
}
#number-box{
    width: 200px;
    border: 1px solid;
    border-color: aliceblue;
    padding: 16px;
    border-radius: 8px;
    margin: 0;
}
#second-number-container {
display: flex;
flex-direction: row;
flex: 1;
gap: 24px;
align-self: center;
padding: 0;
margin: 0;
justify-content: flex-start;
}
h3 {
    margin: 0;
    padding: 0;
    align-content: center;
}
.operators-container{
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 0;
    padding: 0;
    justify-content: center;
    width: inherit;
    align-content: center;
}
.operator-add{
    padding: 16px;
    border: 1px solid;
    border-color: aliceblue;
    border-radius: 8px;
    align-self: center;
}
.operator-minus{
    padding: 16px;
    border: 1px solid;
    border-color: aliceblue;
    border-radius: 8px;
    align-self: center;
}
.operator-multipy{
    padding: 16px;
    border: 1px solid;
    border-color: aliceblue;
    border-radius: 8px;
    align-self: center;
}
.operator-divide{
    padding: 16px;
    border: 1px solid;
    border-color: aliceblue;
    border-radius: 8px;
    align-self: center;
}
.material-symbols-outlined{
    width: 24px;
    height: 24px;
}